@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Open Sans', sans-serif;
}
table {
  background:white;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}

thead {
  border-bottom: 1px solid #364043;
  background-color: #b01d1de3;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
tbody tr {
  transition: background 2s ease;
}
tbody tr:hover {
  background: #63525249;
}
tbody td input{
  background-color: white;
  color: black;
  border-radius:50px ;
  width: 110%;
  
  
}
tbody {
  text-align: center;
}






